@import "tailwindcss";

@font-face {
  font-family: 'Virgo Delight';
  src: url('/Fonts/VirgoDelight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Moderniz';
  src: url('/Fonts/Moderniz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Heavitas';
  src: url('/Fonts/Heavitas') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('/Oswald-VariableFont_wght') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ButlerBlack';
  src: url('/Fonts/Butler_Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universal';
  src: url('/Fonts/Universal Serif.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Extenda';
  src: url('/Fonts/Extenda-80-Peta-trial.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'aileron';
  src: url('/Fonts/aileron.bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-virgo: 'Virgo Delight', sans-serif;
  --font-heavitas: 'Heavitas', sans-serif;
  --font-Moderniz: 'Moderniz', sans-serif;
  --font-Oswald: 'Oswald', sans-serif;
  --font-ButlerBlack: 'ButlerBlack', sans-serif;
  --font-Universal: 'Universal', sans-serif;
  --font-Extenda: 'Extenda', sans-serif;
  --font-aileron: 'aileron', sans-serif;
}

@theme {
  --font-size-hero: clamp(4rem, 12vw, 20rem);
  --font-size-mega: clamp(6rem, 15vw, 25rem);
  --font-size-giant: 12rem;
  --font-size-massive: 16rem;
  --font-size-ultra: clamp(8rem, 20vw, 30rem);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
html{
  overflow-x: hidden;
}